body {
    display:grid;
    grid-template:
    'p'
    't'
    'v';
}


.v {
    height: 0;
    padding-bottom: calc(315 / 560 * 100%);
    position: relative;
    width: 100%;
}

iframe {
    border: 1px solid transparent;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}