.hamburger, .hamburger::after, .hamburger::before {
    border: none;
}


.hamburger:hover ~ .dropdown__menu, .dropdown__menu {
    display: flex;
}

.dropdown__submenu {
    display: none;
}

.dropdown__menu:hover > .dropdown__submenu {
    display: block;
}