.hamburger, .hamburger::after, .hamburger::before {
    border: none;
    display: none;
}

.menu {
    display: inline-flex;
    position: relative;
    z-index: 1;
}

.header {
    display: flex;
    justify-content: space-between;
}

.menu--item {
    display: inline-flex;
    width: auto;
}

.main, .second {
    display: flex;
}