* {
    list-style-type: none;
    padding-inline-start: 0;
    padding-bottom: 5px;
}

nav {
    margin: auto;
    width: 100vw;
    max-width: 1000px;

    display: flex;
    justify-content: space-between;
}

.footer {
    justify-content: center;
}

.menu--item {
    border: 5px solid #000;
    background-color: #fff;
    height: 20px;
}